.product-card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.product-image {
    width: 100%;
}
.product-title {
    font-size: 30px;
    margin: 10px 0;
}